@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    box-sizing: border-box;

}

.header {
    display: flex;
    background-color: #266637;
    color: whitesmoke;
    width: 100%;
    padding: 5px 15%;
    align-items: center;
    gap: 8px;
    position: fixed;
    box-sizing: border-box;

}

.header img {
    height:32px ;
    border: 3px solid #90dfa6 ;
}

.header div {
    font-size: 24px;
    font-weight: bold;
}
.header ul {
    align-self: flex-end;
    display: flex;
    gap: 16px;
    list-style: none;
    margin-left: auto;
}

.header-link  {
    text-decoration: none;
    color: #e5e7eb;  
    font-size: 18px;  
}

.splash {
    display: flex;
    background-color: #266637;
    color: whitesmoke;
    height: 400px;
    margin-top: 42px;
    padding: 30px 15% 30px 15%;
    align-items: center;
    justify-content: center;
    gap: 15px;
 
}

.splash-info {
    display: flex;

    gap: 30px;
    flex: 1;
    height: 350px;
    align-items: center;
}

.hero-block{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 300px;
}

.splash-info img {
    flex: 0 1 auto;
    height: 300px;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-sub {
    font-size: 18px;
}

.splash-info a{
    text-decoration: none;
    flex: 0 1 auto;
    width: fit-content;
    height: fit-content;

}

button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-color: #43a724;
    color: whitesmoke;  
    font-size: 18px;  
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    border: none;

}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 15%;
    gap: 30px;
    align-items: center;
    justify-content: center;
    height: 400px;


}

.info-head {
    font-size: 36px;
    font-weight:700;
    color: #266637;
    text-align: center;
}

.spirit-deck {
    display: flex;
    gap: 40px;
    justify-content: center;


}

.spirit-card {
    display: flex;
    flex-direction: column;
    width: 15%;
    align-items: center;
    text-align: center;
    font-size: 12px;
    padding: 5px;
}

.spirit-card img {
    height: 150px;
    border: 3px solid #90dfa6;
    border-radius: 5px;
    padding: 3px;
    flex: 0 1 auto;
}

.spirit-card p {
    width: 150px;
}

.quote-section {
    display: flex;
    height: 300px;
    background-color: #e5e7eb;
    padding: 5px 15%;
    align-items: center;
    justify-content: center;
}

.quote-container {
    display: flex;
    width: 750px;
    flex-flow: column;
    gap: 10px;

}

.quote {
    font-size: 46px;
    font-weight: 200;
    font-style: italic;
    color: #266637;
}

.quote-att {
    align-self: flex-end;
    font-size: 14px;
    font-weight: bold;
}

.call-section {
    display: flex;
    flex-direction: column;
    padding: 50px 15%;
    gap: 30px;
    align-items: center;
    justify-content: center;

}

.call {
    display: flex;
    background-color: #43a724;
    flex: 1;
    border-radius: 5px;
    padding: 15px 50px;
    width: 500px;
    justify-content: space-between;
    align-items: center;
}

.call-text {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.call-text h1 {
    margin: 0;
    font-size: 16px;
}

.call-text p {
    margin: 0;
    font-size: 12px;
}

.call a{
    text-decoration: none;
}

.call a button {
    border: 1px solid whitesmoke;
    font-size: 12px;
}

.footer {
        display: flex;
        background-color: #266637;
        color: whitesmoke;
        width: 100%;
        padding: 5px 15%;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-sizing: border-box;
    
}